@import "../components/_card";

h1 {
  font-size: 25px;
  font-family: Montserrat;
  font-weight: 600;
}

body {
  font-family: Montserrat;
}

.dog-show ul {
  list-style-type: none;
  padding: 0;
}

.dog-show li {
  margin-right: 20px;
}

// .front-picture {
//   border-top-left-radius: 10px;
//   border-bottom-left-radius: 10px;
//   height: 400px;
// }

// .mid-picture {
//   height: 195px;
// }

// .side-picture-top {
//   border-top-right-radius: 10px;
//   height: 195px;
// }

// .side-picture-bottom {
//   border-bottom-right-radius: 10px;
//   height: 195px;
// }

.big-picture {
  display: flex;
  width: 200px;
  height: 400px;
  margin: 10px;
}

.big-picture img {
  border-radius: 10px;
}

.small-picture {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.small-picture img {
  object-fit: cover;
  width: 300px;
  height: 150px;
  margin-left: 15px;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}

.first {
 margin-top: 0px;
}



.btn-color {
  color: white;
  background-color: #9AC4F8;
  border-color: #9AC4F8;
}

.card-style {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
