@import "../components/_card";

h1 {
  font-size: 25px;
  font-family: Montserrat;
  font-weight: 600;
}

body {
  font-family: Montserrat;
}

.dog-show ul {
  list-style-type: none;
  padding: 0;
}

.dog-show li {
  margin-right: 20px;
}

.card-image {
  display: flex;
  width: 1200px;
  height: 500px;
  margin: 10px;
}

.big-picture {
  width: 50%;
  height: 100%;
}

.big-picture img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
}

.small-picture {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.small-picture img {
  align-items: center;
  object-fit: cover;
  height: 48%;
  border-radius: 10px;
}

.btn-color {
  color: white;
  background-color: #9AC4F8;
  border-color: #9AC4F8;
}

.card-style {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

hr {
  border:none;
  border-top:1px dotted grey;
  color:#fff;
  background-color:#fff;
  height:1px;
}

.form-control {
  font-size: 12px;
}
