<div class="footer">
  <div class="container">
    <div class="d-flex">
      <a id="footer-logo" href="/">
        <img class="logo" src="/assets/dog-logo-5ac0991c8e3ad13128a56af8100a26fb806b90012c152fb53fbeefbb855a3863.png">
      </a>
      <h1 >Truffe</h1>
    </div>
    <div class="d-flex">
      <a href="url">FAQ</a>
      <a href="url">Company</a>
      <a href="url">Press</a>
      <a href="url">Careers</a>
      <a href="url">Contact</a>
      <a class="social-media" href="url"><i class="fab fa-facebook-f"></i></a>
      <a class="social-media" href="url"><i class="fab fa-twitter"></i></i></a>
      <a class="social-media" href="url"><i class="fab fa-linkedin-in"></i></a>
      <a class="social-media" href="url"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="d-flex">
      <a class="btn btn-outline-secondary" class="legal-info">English</a>
      <a href="url" class="legal-info">Legal Notice</a>
      <a href="url" class="legal-info">Privacy Policy</a>
      <a href="url" class="legal-info">Terms & Conditions</a>
    </div>
    <div class="container" id="floor">
      <p style="margin-bottom: 30px;">Truffe International LLC is a company registered in France. Truffe is in conformity with the GDPR and CCPA and will never access or share your data. For questions please contact the Truffe team any time. </p>
      <hr>
      <div style="margin-top: 30px;" class="footer-copyright center"> ©Truffe - Made with <i class="fas fa-paw"></i> by and for doggo lovers!</div>
    </div>
  </div>
</div>
