<%= form_tag dogs_path, class:"simple_form searchbar-small d-none", method: :get do %>
<div class="search-bar-small">

    <div class="search-bar-item item-small">
      <%= select_tag :category_small,
        options_for_select(Dog::DOG_CATEGORY, selected: params[:category]),
        :include_blank => true, prompt: 'Category' %>
    </div>

  <button name="button" type="submit" class="btn btn-flat">
    <i class="fas fa-paw" style="font-size: 16px;"></i>
  </button>
  </div>
<% end %>
