<div class="cover cover-index">
  <div class="container">
    <h1>TRUFFE</h1>
    <p style="margin-bottom: 100px;" class="subtitle">Find your doggie</p>
    <%= render "shared/searchbar" %>
  </div>
</div>
