<div class="cover cover-index">
  <div class="container">
    <h1>TRUFFE</h1>
    <p class="subtitle">
      <span id="banner-typed-text"></span>
    </p>
    <%= render "shared/searchbar" %>
  </div>
</div>

<div>
  <h2 class="my-4">Dogs categories: </h2>
    <a href="/dogs?category=walk&breed=&start_date=&end_date=&button=">
      <div class="categories">
        <img src="/assets/images/cards/sport.png">
      </div>
    </a>
</div>
