<div class="cover cover-index">
  <div class="container">
    <h1>TRUFFE</h1>
    <p class="subtitle">Find your doggie</p>
    <%= render "shared/searchbar" %>
  </div>
</div>

<div>
  <h2>Find the right dog to enlighten any moment of your life </h2>
    <a href=""> </a>
  <div class="categories">
  </div>
</div>
