.booking-card{
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 500px;
  height: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  margin-bottom: 30px;
  h4 {
    margin: 0px;
    padding: 0px;
    a {
      text-decoration: none;
      color: black;
    }
  }
  p {
    margin: 0px;
    padding: 0px;
  }
}

.booking-card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.booking-card-content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.booking-cards {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
