// Product Card
.carousel {
  width: 300px;
}

.card-product-dog {
  overflow: hidden;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  margin: 0px 50px;
  box-shadow: none;
  border-bottom: 1px solid grey;
  height: 300px;
}

.card-product-dog img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 20px;
  width: 300px;
  height: 200px;
}

.card-product-dog h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product-dog h6 {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 15px;
  font-family: "Work Sans";
  color: #564C4D;
}

.card-product-dog a {
  text-decoration: none;
  color: #252525;
}

.card-product-dog p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-dog .card-product-infos-dog {
  padding: 16px;
}

.dogs-container {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
}

.card-dog {
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  padding-bottom: 10px;
  margin: 20px;
}
.card-dog-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 260px;
  width: 50%;
  p {
    flex-grow: 1;
  }
}

.card-dog-calendar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 260px;
  width: 50%;
  p {
    flex-grow: 1;
  }
}

.dog-carousel {
  overflow-x: auto;
  height: 300px;
}
.dog-carousel::-webkit-scrollbar {
  display: none;
}




.dog-card-images {
  display: flex;
  width: auto;
  height: 200px;
  margin: 10px;
}
.dog-card-big-img {
  width: 50%;
  height: 100%;
  img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
  }
}
.dog-card-small-img {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
    img {
    align-items: center;
    object-fit: cover;
    height: 48%;
    border-radius: 10px;
  }
}