.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer .fa-paw {
  color: #9AC4F8;
}

.center {
  margin: auto;
}
