.form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  .form-control {
    margin: 10px 0px;
  }
  label {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
  }
}

.hidden {
  display: none;
}

.photo-btn {
  display: flex;
  justify-content: left;
  align-items: center;
}

.input.datepicker.form-control.input {
  background-color: white;
  padding: 0px;
 }

.form-control.string {
  font-size: 14px;
}

.form-control.select {
  font-size: 14px;
}

.form-control.numeric {
  font-size: 14px;
}

.form-control.text {
  font-size: 14px;
}

 .input.form-control.string.required.datepicker.input {
   height: 33px;
   padding: 6px 12px;
 }
