.cover {
  display: flex;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover-index {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(asset_path('home.jpg'));
  height: 91vh;
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 70px;
    font-weight: bold;
  }
}

.subtitle {
  font-size: 30px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1250px) {
  .cover-index h1, .cover-index p {
    text-align: center;
  }
}
