.cover {
  display: flex;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover-index {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(asset_path('home.jpg'));
  height: 91vh;
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 70px;
    font-weight: bold;
  }
}

.subtitle {
  font-size: 30px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.card-boxes {
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.categories {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 25%;
}

.categories img {
  display: flex;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 1px 3px #9AC4F8;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  text-decoration: none;
  &:hover {
    transform: scale(1.05);
    background-color: white;
    z-index: 1;
    transition: 0.3s;
  }
}

h2 {
  font-weight: bold;
}

h5 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #9BC4F7;
}

.margin {
  margin-left: 20px;
}

.dog-name {
  font-weight: bold;
  font-size: 24px;
  color: #9AC4F8;
}

.dog-review {
  p {
    color: #9AC4F8;
  }
}

.card-owner {
  background-size: cover;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 100px;
  margin-left: 100px;
  flex-direction: column;
}

.owner-paragraph {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin: 30px 140px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  font-weight: normal;
  align-items: center;
  background-color: white;
}

.top-dog-picture img {
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 1px 3px #9AC4F8;
  opacity: 0.8;
  width: 200px;
  height: 200px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: none;
}

.margin-top {
  margin-top: 40px;
}

.margin-bottom {
  margin-bottom: 60px;
}

.left-transparent {
  text-align: left;
  background: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0.5));
  background-color: white;
}

.right-transparent {
  text-align: right;
  background: linear-gradient(white, rgba(182, 17, 17, 0.5));
  background-color: white;
}

.flex-carousel {
  display: flex;
}
