#map {
  position: sticky;
  top: 70px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1250px) {
  height: 480px;
  margin: 50px 0;
  border-radius: 10px;
}
