.navbar-truffe {
  justify-content: space-between;
  background: white;
  height: 70px;
  padding: 0px 20px;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 40px;
}

.fa-paw::before {
  width: 40px;
}

.fa-paw {
  text-decoration: none;
}