.navbar-truffe {
  justify-content: space-between;
  background: white;
  height: 70px;
  padding: 0px 20px;
  border-bottom: 1px solid rgb(211, 211, 211);
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar-collapse {
  flex-grow: 0;
}

.profile {
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  padding: 5px 10px;
  border-radius: 20px;
  width: 80px;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
  }
  i {
    margin-left: 5px;
  }
}
.dropdown-toggle::after {
  display: none;
}

.avatar {
  width: 30px;
  border-radius: 50%;
  align-items: center;
}

.logo {
  width: 40px;
  border-radius: 50%;
  align-items: center;
}

.align {
  align-items: center;
}

.flex{
  .nav-link {
    padding: 1rem 1rem;
  }
}

.list-limit {
  right: -21px;
}


.navbar {
  .navbar-nav {
    .nav-item {
      .nav-color {
        color: #222A68;
      }
    }
  }
}