.navbar {
  z-index: 100;
}

.navbar-truffe {
  justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
  height: 70px;
  padding: 0px 20px;
  border-bottom: 1px solid rgb(211, 211, 211);
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar-truffe-transparent {
  background-color: transparent;
  border-bottom: none;
}

.navbar-collapse {
  flex-grow: 0;
}

.profile {
  cursor: pointer;
  background-color: white;
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  padding: 5px 10px;
  border-radius: 20px;
  width: 80px;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
  }
  i {
    margin-left: 5px;
    color: black;
  }
}

.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  right: -10px;
}

.avatar {
  width: 30px;
  border-radius: 50%;
  align-items: center;
}

.logo {
  width: 40px;
  border-radius: 50%;
  align-items: center;
}

.navbar {
  .navbar-nav {
    .nav-item {
      .nav-color {
        color: #222A68;
      }
    }
  }
}

.color {
  color: white;
}