.search-form-control {
  margin: 30px 100px;
}

.search-form-control .btn {
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  border-radius: 10px;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.seach-bar {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  border: 1px solid rgb(226, 225, 225);
  border-radius: 15px;
  box-shadow: 1px 1px 10px 5px #efebeb;
  padding: 10px;
  background-color: white;
  p {
    margin-bottom: 0px;
  }
}
